{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Thoughts{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Thoughts</h1>
        {% if thoughts %}
          <!-- <hr class="intro-divider"> -->
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Username </th>
                  <th width="15%"> Date </th>
                  <th width="40%"> Thought </th>
                </tr>
              </thead>
              <tbody>
              {% for thought in thoughts %}
                <tr>
                  <td> {{ thought.thusername }} </td>
                  <td> {{ thought.date }} </td>
                  <td> {{ thought.th }} </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No thoughts have been added. </h3>
            <!-- <hr class="intro-divider"> -->
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}