<!-- app/templates/home/dashboard.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<div class="intro-header">
    <br/>
    {{ utils.flashed_messages() }}
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <div class="th">
                        <a href="{{ url_for('admin.list_thoughts') }}">My Own Thoughts</a>
                    </div>
                    <div class="th2">
                        <a href="{{ url_for('admin.list_publicthoughts') }}">Read Other's Thoughts</a>
                    </div>
                    <!-- <hr class="intro-divider"> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}