{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <div class="th4">Your Thoughts, Your space</div>
                    <div class="th5">Stop thinking and start writing</div>
                    <!-- <img style = "filter: invert(100%); width: 50px ; height: 40px;"  src="/app/templates/image.jpeg"> -->
                    <img style = "filter: invert(100%); width: 80px ; height: 80px;"  src="https://i.pinimg.com/474x/28/cd/14/28cd1498911e84b2a590cbad6537129b.jpg">
                    <a class = "th3" href = "{{ url_for('home.dashboard') }}">Begin with Thoughts</a>
                    <!-- <hr class="intro-divider"> -->
                    </ul>
                </div>
            </div>
        </div>  
    </div>
</div>
{% endblock %}